body {
  background-image: url(../Images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
  .navbar-brand {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
  }

  .nav-link {
    color: #333;
    text-decoration: none;
  }

  .nav-link:hover {
    color:#50afea;
    }

    .project-section-wrapper {
      background-color: rgba(0, 0, 0, 0.10);
      /* padding-top: 60px; */
      padding-bottom: 100px;
      margin: 150px;
      border-radius: 20px;
    }

    .about-section-wrapper {
      background-color: rgba(89, 159, 239, 0.1);
      /* padding-top: 60px; */
      padding-bottom: 60px;
      margin: 150px;
      border-radius: 20px;
    }

    .contact-section-wrapper {
      background-color: rgba(0, 0, 0, 0.10);
      /* padding-top: 60px; */
      padding-bottom: 60px;
      margin: 150px;
      border-radius: 20px;
    }

  .github-btn {
      display: inline-block;
      transition: transform 0.3s;
      color: black;
    }
    
  .github-btn:hover {
      transform: scale(1.5);
    }

     section {
      padding-top: 80px; 
    } 
    
    h2 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
    
    .about-text {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      max-width: 600px;  
      margin-left: auto;
      margin-right: auto;
      /* padding: 20px; */
    }
    
    ul {
      list-style-type: square;
    }

    

  
    
    
    
    

 
  
  